ci:
  autoupdate_branch: devel
  autofix_prs: false
  autoupdate_schedule: quarterly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.13.3
  hooks:
  - id: ruff
    args:
    - --fix
    - --exit-non-zero-on-fix
    - --ignore
    - UP036
  - id: ruff-format
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/pappasam/toml-sort
  rev: v0.24.3
  hooks:
  - id: toml-sort-fix
    exclude: pixi.toml|dockgen.toml
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.2
  hooks:
  - id: clang-format
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
